# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
DerivedData/
build/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.swiftdoc
*.swiftinterface
*.swiftmodule
*.swiftsourceinfo

# Swift Package Manager
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/xcuserdata/
.build/

# CocoaPods (if added later)
Pods/

# IDE / tools
.idea/
